---
interface Props {
  src: string
}

const { src } = Astro.props

import Tumulo from '../images/tumulo_stack.png'
---

<div
  class="bg-[url('../src/images/tumulo_stack.png')] bg-cover w-36 h-32 justify-center"
>
  <img src={src} alt="Imagem da stack" class="pl-2 py-12 h-full w-full" />
  <div class="bg-gray-400 h-2 w-full rounded-t-lg"></div>
</div>
