---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gradient-to-l from-redPrimaryColor to-hoverRedSecondaryColor">
    <slot />
    <script>
      const cursor = document.querySelector('.cursor')

      document.addEventListener('mousemove', e => {
        cursor!.setAttribute(
          'style',
          'top: ' + (e.pageY - 10) + 'px; left: ' + (e.pageX - 10) + 'px;'
        )
      })
    </script>
  </body>
</html>
